<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict{ color: #000000;}
        .navbar-custom {padding: 25px 0;-webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;}
        section {margin-top: 100px;height: 900px;}
        @media (max-width: 767px) {  section {padding: 75px 0;}  section.first {padding-top: 75px;}  }
        body {font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;overflow-x: hidden;}
        header {text-align: center;background: #18bc9c;color: #ffffff;}
        header .container {padding-top: 100px;padding-bottom: 50px;}
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title>Registration Form</title>
</head>


<body>
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="background: #2C3E50">
    <div class="container">
        <div class="navbar-header page-scroll">
            <div sec:authorize="isAuthenticated()">
                Authenticated as <span id="username" sec:authentication="name"></span></div>
            <a class="navbar-brand text-center titleFont" style="margin-left: 275px;font-size:30px;color: aliceblue">WELCOME TO BX RENTAL CAR COMPANY</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12 text-center">
        <h2 th:text="'Hello!'" style="font-size: 50px;margin-top: 30px"/>
        <h2>Invoice</h2>
        <hr>
    </div>
</div>



<div class="container row align-items-center justify-content-center">
    <div class="block-center">
        <div id= "thisPage" style="width: 60%;margin-left: 625px">

<!--            <div class="form-group">-->
<!--                <label for="firstName" class="text-muted">First Name</label>-->
<!--                <span id="firstName" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="lastName" class="text-muted">Last Name</label>-->
<!--                <span id="lastName" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="address" class="text-muted">Address</label>-->
<!--                <span id="address" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="amount" class="text-muted">Payment Amount</label>-->
<!--                <span id="amount" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->


<!--            <div class="form-group">-->
<!--                <label for="type" class="text-muted">Car Type</label>-->
<!--                <span id="type" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="rent_charge" class="text-muted">Rent Charge</label>-->
<!--                <span id="rent_charge" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="extra_charge" class="text-muted">Extra Charge</label>-->
<!--                <span id="extra_charge" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="make" class="text-muted">Car Make</label>-->
<!--                <span id="make" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="model" class="text-muted">Car Model</label>-->
<!--                <span id="model" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="year" class="text-muted">Car Year</label>-->
<!--                <span id="year" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="vin" class="text-muted">Car VIN</label>-->
<!--                <span id="vin" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="license_plate_no" class="text-muted">License Plate No</label>-->
<!--                <span id="license_plate_no" class="col-sm-4" style="display:none;"></span>-->
<!--            </div>-->
        </div>

        <div class="container" style="padding-top: 10px;height: 300px;">
            <form action="/choose">
                <div>
                    <button style="background:cornflowerblue">Return</button>
                </div>
            </form>
        </div>

    </div>
</div>


</body>

<script th:inline="javascript">
    var serverContext = [[@{/}]];
    var temp;

    $(document).ready(function () {

        <!--  TODO: get return value (user first/last name, address, payment amount, car Info) -->
        const queryString = window.location.search;
        // const queryString = "wd=git%20hub%20merge&rsv_spt=1&rsv_iqid=0xecb9585d000c5982&issp=1&f=8&rsv_bp=1&rsv_idx=2&ie=utf-8&rqlang=cn&tn=baiduhome_pg&rsv_dl=tb&oq=git%2520hub%2520pull&rsv_enter=1&rsv_btype=t&inputT=580&rsv_t=8ed9MEGTFyQv1c5pBcO8v5N33Xj2sraBbKXH3JEefPQyembltS6b0AnHDzHRcq4bnza1&rsv_sug3=29&rsv_sug1=4&rsv_sug7=100&rsv_pq=a486cd65000ca9be&rsv_sug2=0&rsv_sug4=1180"
        const urlParams = new URLSearchParams(queryString);

        var id = urlParams.get("invoice");
        $.ajax({
            type:'get',
            url:"/inovice",
            data:{id:id},
            success:function (json) {


                temp = json;
                temp = JSON.parse(temp)

                $.each(temp, function (id, name){
                    // $("#"+id).show().html(name);
                    $('#thisPage').append(
                        "<div className= 'form-group' >" +
                        "<label for=" + " + id + "  + "className='text-muted'>" + id + "</label>" +
                        "<span id=" + " + id + " + "class='col-sm-4'>"+ name + "</span>" +
                        "</div>"
                    );
                });
            }
        });
    });

</script>




</html>