<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict{ color:#000;}
        .navbar-custom {padding: 25px 0;-webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;}
        section {margin-top: 100px;height: 900px;}
        @media (max-width: 767px) {  section {padding: 75px 0;}  section.first {padding-top: 75px;}  }
        body {font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;overflow-x: hidden;}
        header {text-align: center;background: #18BC9C;color: white;}
        header .container {padding-top: 100px;padding-bottom: 50px;}

        td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}
        .selected {background-color: brown;color: #FFF;}


    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--    <script type="text/javascript" th:src="@{/js/pwstrength.js}"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <link rel="stylesheet" href="css/daterangepicker.min.css">
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/jquery.daterangepicker.min.js"></script>
    <title>Registration Form</title>
</head>
<body>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="background: #2C3E50">
    <div class="container">
        <div class="navbar-header page-scroll">
            <div sec:authorize="isAuthenticated()">
                Authenticated as <span id="username" sec:authentication="name"></span></div>
            <a class="navbar-brand text-center titleFont" style="margin-left: 275px;font-size:30px;color: aliceblue">WELCOME TO BX RENTAL CAR COMPANY</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12 text-center">
        <h2 th:text="'Hello, ' + ${name} + '!'" style="font-size: 50px;margin-top: 30px"/>
        <h2>Please Full Fill Blow Info</h2>
        <hr>
    </div>
</div>

<!--search bar-->
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form id="form">

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6" STYLE="display: none">
                <span id="date_range"></span>
            </div>

            <div class="col-sm-4 ">
                <select id="dropoffDate" name="dropoffDate" class="form-control" type="text" />
                <option value="" hidden="">Select Drop Off Date</option>
                </select>
            </div>
            <div class="col-sm-4 ">
                <select id="pickupDate" name="pickupDate" class="form-control" type="text"/>
                <option value="" hidden="">Select Pick Up Date</option>
                </select>
            </div>

            <div class="col-sm-4 ">
                <select id="dropoffLocation" name="dropoffLocation" class="form-control" type="text"/>
                <option value="" hidden="">Select Drop Off Location</option>
                </select>
            </div>
        </div>


        <div class="row" style="margin-top: 10px;">
                <div class="col-sm-6">
                    <select  id="office" name ="pickupLocation" class="form-control" type="text" placeholder="Select Pick Up Location"/>
                    <option value="" hidden>Select Pick Up Location </option>
                    </select>
                </div>


                <div class="col-sm-6 input-group">
                    <select id="type" name="type" class="form-control" type="text" placeholder="Select Car Model"/>
                    <option value="" hidden="">Select Car Type</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" id= "go" name="go" type="button">Go!</button>
                    </span>
                </div>
            </div>

            <div class="form-group" id="searchResult">
                <table id="table">
                </table>
            </div>

            <div class="form-group" id = "couponDiv" style="display: none">
                <label for="coupon"  class="text-muted">Payment Method</label>
                <select id="coupon" class="form-control" type="coupon" name="coupon" >
                    <option value="" hidden> Choose A Valid Coupon </option>
                    <option value="1">3%</option>
                    <option value="2">5%</option>
                    <option value="3">5.5%</option>
                    <option value="4">7%</option>
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>


        </form>
    </div>
</div>
</body>



<script th:inline="javascript">
    var serverContext = [[@{/}]];

    var temp;
    var carID;
    const type = $('#type');

    $(document).ready(function () {
        $('form').submit(function (event) {
            send(event);
        });
        //
        // $('#date_range').dateRangePicker(
        //     {
        //         getValue: function () {
        //             return this.innerHTML;
        //         },
        //         setValue: function (s) {
        //             this.innerHTML = s;
        //         }
        //     }
        // );





        <!--  TODO: get return value (office loaction and car Type for search) -->
        $.get(serverContext + "api/vehicle/models", function (json) {
            temp = json;
            temp = JSON.parse(temp)

            $.each(temp, function (id, name) {
                $('#type').append("<option value=" + id + ">" + name + "</option>");
            });
        })

        $.get(serverContext + "api/officeLocation", function (json) {
            temp = json;
            temp = JSON.parse(temp)

            $.each(temp, function (id, name) {
                $('#office').append("<option value=" + id + ">" + name + "</option>");
                $('#dropoffLocation').append("<option value=" + id + ">" + name + "</option>");
            });

            for (let month = 1; month < 12; month++) {
                for (let day = 1; day < 30; day++) {
                    $('#dropoffDate').append("<option value=" + day + ">" + day +"/"+ month+ "/2020" + "</option>");
                    $('#pickupDate').append("<option value=" + day + ">" + day +"/"+ month+ "/2020" +  "</option>");
                }
            }

        })



        document.getElementById("go").onclick = function () {

            var officeId = document.getElementById("office").value
            var carType =document.getElementById("type").value

            $.ajax({
                type: 'post',
                url: "/api/vehicle/models",
                data: {"officeId": officeId, "typeId": carType},

                success: function (json) {
                    temp = json;
                    temp = JSON.parse(temp)

                    $.each(temp, function (key, value) {

                        $('#table').append("<tr id=" + key  + " class=cars >");
                        $.each(value, function (id, name) {
                            $('#'+key).append("<td>" + name + "</td>");
                        });
                        $('#table').append("</tr>");
                    });
                    document.getElementById("couponDiv").style.display = "block";

                    $(".cars").click(function(){
                        $(this).addClass('selected');
                        $(this).css('background-color', '#ff0000');
                        carID = $(this).attr('id');

                    });

                }
            });
        };


    });

    <!--  TODO: send back data -->

    function send(event){
        event.preventDefault();
        var formData= $('form').serialize()
        var username = $(this).attr("username").innerText


        formData += "&vehicleId="+ carID;
        formData += "&customerName="+ username;


        // formData["vehicleId"]  = carID;
        // formData["customerName"]  = username;


        $.post(serverContext + "rental",formData ,function(data){
            var i = data.message.indexOf("#");
            var msg = data.message.substring(0,i);
            var invoiceID = data.message.substring(i+1);

            if(msg == "success"){
                window.location.href = serverContext + "invoice/"+invoiceID;
            }
        })
    }


</script>

</html>