<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict{ color:#000;}

        .navbar-custom {padding: 25px 0;-webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;}
        section {margin-top: 100px;height: 900px;}
        @media (max-width: 767px) {  section {padding: 75px 0;}  section.first {padding-top: 75px;}  }
        body {font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;overflow-x: hidden;}
        header {text-align: center;background: #18BC9C;color: white;}
        header .container {padding-top: 100px;padding-bottom: 50px;}

    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--    <script type="text/javascript" th:src="@{/js/pwstrength.js}"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title>Registration Form</title>
</head>
<body>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="background: #2C3E50">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand text-center titleFont" style="margin-left: 275px;font-size:30px;color: aliceblue">WELCOME TO BX RENTAL CAR COMPANY</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12 text-center">
        <h2 th:text="'Hello, ' + ${name} + '!'" style="font-size: 50px;margin-top: 30px"/>
        <h2>Please Full Fill Blow Info</h2>
        <hr>
    </div>
</div>

<!--search bar-->
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form id="form" data-parsley-validate="true" onsubmit="return false">
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-6">
                    <select  id="store" class="form-control" type="text" placeholder="Select Store Name"/>
                    <option value="" hidden>Select Store Name</option>
                    </select>
                </div>

                <div class="col-sm-6 input-group">
                    <select id="type" class="form-control" type="text" placeholder="Select Car Model"/>
                    <option value="" hidden="">Select Car Type</option>
                    </select>

                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                </div>
            </div>
        </form>
    </div>
</div>


</body>



<script th:inline="javascript">
    var serverContext = [[@{/}]];

    var temp;
    const type = $('#type');

    $(document).ready(function () {
        $('form').submit(function(event) {
            register(event);
        });

        $.get(serverContext + "api/vehicle/models", function (json) {
            temp = json;
            temp = JSON.parse(temp)

            $.each(temp, function (id, name) {
                $('#type').append("<option value="+ id+ ">" + name + "</option>");
            });
        })

    });


    function register(event){
        var formData= $('form').serialize();
        $.post(serverContext + "user/registration",formData ,function(data){

            var i = data.message.indexOf("#");
            var msg = data.message.substring(0,i);
            var invoiceID = data.message.substring(i+1);
            if(msg == "success"){
                window.location.href = serverContext + "invoice"+invoiceID;
            }

        })
    }





</script>

</html>