<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict{ color:#000;}
        .navbar-custom {padding: 25px 0;-webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;}
        section {margin-top: 100px;height: 900px;}
        @media (max-width: 767px) {  section {padding: 75px 0;}  section.first {padding-top: 75px;}  }
        body {font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;overflow-x: hidden;}
        header {text-align: center;background: #18BC9C;color: white;}
        header .container {padding-top: 100px;padding-bottom: 50px;}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--    <script type="text/javascript" th:src="@{/js/pwstrength.js}"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <link rel="stylesheet" href="css/daterangepicker.min.css">
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/jquery.daterangepicker.min.js"></script>
    <title>Registration Form</title>
</head>
<body>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="background: #2C3E50">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand text-center titleFont" style="margin-left: 275px;font-size:30px;color: aliceblue">WELCOME TO BX RENTAL CAR COMPANY</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12 text-center">
        <h2 th:text="'Hello, ' + ${name} + '!'" style="font-size: 50px;margin-top: 30px"/>
        <h2>Please Full Fill Blow Info</h2>
        <hr>
    </div>
</div>

<!--search bar-->
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
                <span id="date_range"></span>
            </div>


            <div class="col-sm-6 input-group">
                <select id="dropoffDate" name="dropoffDate" class="form-control" type="text" placeholder="Select Drop Off Date"/>
                <option value="" hidden="">Select Drop Off Datee</option>
                </select>
            </div>

            <div class="col-sm-6 input-group">
                <select id="dropoffLocation" name="dropoffLocation" class="form-control" type="text" placeholder="Select Drop Off Location"/>
                <option value="" hidden="">Select Drop Off Location</option>
                </select>
            </div>

        </div>


        <div class="row" style="margin-top: 10px;">
                <div class="col-sm-6">
                    <select  id="office" name ="pickupLocation" class="form-control" type="text" placeholder="Select Store Name"/>
                    <option value="" hidden>Select Store Name</option>
                    </select>
                </div>


                <div class="col-sm-6 input-group">
                    <select id="type" name="type" class="form-control" type="text" placeholder="Select Car Model"/>
                    <option value="" hidden="">Select Car Type</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" id= "go" name="go" type="button">Go!</button>
                    </span>
                </div>
            </div>

            <div class="form-group" id="searchResult">
                <ul id="table"></ul>
            </div>


            <div class="form-group" style="display: none">
                <label for="coupon"  class="text-muted">Payment Method</label>
                <select id="coupon" class="form-control" type="coupon" name="coupon" >
                    <option value="" hidden> Choose A Valid Coupon </option>
                    <option value="1">3%</option>
                    <option value="2">5%</option>
                    <option value="3">5.5%</option>
                    <option value="4">7%</option>
                </select>
            </div>

    </div>
</div>


</body>



<script th:inline="javascript">
    var serverContext = [[@{/}]];

    var temp;
    const type = $('#type');

    $(document).ready(function () {
        $('form').submit(function (event) {
            send(event);
        });

        $('#date_range').dateRangePicker(
            {
                getValue: function () {
                    return this.innerHTML;
                },
                setValue: function (s) {
                    this.innerHTML = s;
                }
            }
        );

        <!--  TODO: get return value (office loaction and car Type for search) -->
        $.get(serverContext + "api/vehicle/models", function (json) {
            temp = json;
            temp = JSON.parse(temp)

            $.each(temp, function (id, name) {
                $('#type').append("<option value=" + id + ">" + name + "</option>");
            });
        })

        $.get(serverContext + "api/officeLocation", function (json) {
            temp = json;
            temp = JSON.parse(temp)

            $.each(temp, function (id, name) {
                $('#office').append("<option value=" + id + ">" + name + "</option>");
                $('#dropoffLocation').append("<option value=" + id + ">" + name + "</option>");
                $('#office').append("<option value=" + id + ">" + name + "</option>");
            });
        })


        document.getElementById("go").onclick = function () {

            var officeId = document.getElementById("office").value
            var carType =document.getElementById("type").value

            $.ajax({
                type: 'post',
                url: "/api/vehicle/models",
                data: {"officeId": officeId, "typeId": carType},
                success: function (json) {
                    temp = json;
                    temp = JSON.parse(temp)

                    $.each(temp, function (key, value) {
                        // $("#"+id).show().html(name);
                        var s = "";
                        $.each(value, function (id, name) {
                            s += name + "\t";
                            //
                            // $('#searchResult').append(
                            //     "<li>" +
                            //     "<div className= 'form-group' >" +
                            //     "<label for=" + " + id + " + "className='text-muted'>" + id + "</label>" +
                            //     "<span id=" + " + id + " + "class='alert alert-danger col-sm-4'>" + name + "</span>" +
                            //     "</div>"
                            // );
                        });
                        var table = document.getElementById("table");
                        table.append
                    });
                }
                })
            };



        function send(event) {
            var formData = $('form').serialize();
            $.post(serverContext + "rent", formData, function (data) {

                var i = data.message.indexOf("#");
                var msg = data.message.substring(0, i);
                var invoiceID = data.message.substring(i + 1);

                if (msg == "success") {
                    window.location.href = serverContext + "rent?invoice=" + invoiceID;
                }
            })
        }
    });

</script>

</html>