<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/bootstrap4">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">

    <div class="py-3 pt-md-5 pb-md-4 px-5 w-75 mx-auto text-center">
        <img class="rounded-circle border"
             style="width: 90px;border: 1px solid #dcdee0!important;padding:3px;background: #fefefe;"
             src="/images/user.jpg"/>
        <p class="text-muted mt-3">
            Welcome to this site.</p>
        <div class="mt-5 pt-5 pb-5 border-top">
            <h4 class="text-muted">最新文章</h4>
        </div>
    </div>

    <div class="blog-main">

        <nav class="blog-pagination text-center">
            <a class="btn btn-outline-primary" href="/posts/archive">查看更多</a>
        </nav>
    </div>

</div>
</body>
</html>
